<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title>状态列表</title>
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
  <link rel="stylesheet" type="text/css" href="templates/xinke/style/css/v1.css" />
   <link rel="stylesheet" type="text/css" href="templates/xinke/style/css/user.css" />
 </head>
 <body>
 <{include file="header.html"}>
 <div class="member_list">
  <span style="font-size: 15px;font-weight: bold;">我的资料</span><br/>
  <form action="receive_par.php?action=info_update" method="post">
    <table>
    <tr><td>真实姓名：</td><td><input type="text" name="member_name" value="<{$member.member_name}>" /></td></tr>
    <tr><td>性别：</td><td><select name="member_sex"><option value="1">男</option><option value="2">女</option></select></td></tr>
    <tr><td>生日：</td><td><input type="text" name="member_birthday" value="<{$member.member_birthday}>" /></td></tr>
    <tr><td>电话号码：</td><td><input type="text" name="member_phone" value="<{$member.member_phone}>" /></td></tr>
    <tr><td>现居地：</td><td><input type="text" name="member_from" value="<{$member.member_from}>" /></td></tr>
    <tr><td colspan="2"><input type="submit" value="提交" /></td></tr>
  	</table>
  </form>
 </div>
 <{include file="footer.html"}>
 </body>
 </html>