<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title>状态列表</title>
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
  <link rel="stylesheet" type="text/css" href="templates/xinke/style/css/v1.css" />
   <link rel="stylesheet" type="text/css" href="templates/xinke/style/css/user.css" />
 </head>
 <body>
 <{include file="header.html"}>
 <div class="mood_list">
 <span style="font-size: 15px;font-weight: bold;">我的状态记录</span><br/>
 <{foreach from=$mood_list item=mood}>
 <p><{$mood.status_text}><span>发表于<{$mood.status_time}></span></p>
 <{/foreach}>
 </div>
 <{include file="footer.html"}>
 </body>
 </html>